{
    "extends": "eslint-config-mosaic",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "globals": {
        "JSContext": false
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "rules": {
        "no-floating-decimal": 1
    }
}