<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Mike Skalandunas <mskalandunas@gmail.com>">
<meta name="description" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="">
<meta name="twitter:domain" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:image:width" content="">
<meta property="og:image:height" content="">
<meta property="og:url" content="">
<title></title>
<link href="img/favicon.png" rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="vendor.css">
<link rel="stylesheet" type="text/css" href="main.css">
