<script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "",
        "@id": "FIRST_NAME LAST_NAME JOB_TITLE",
        "name": "FIRST_NAME LAST_NAME",
        "photo": "LINK_TO_PHOTO",
        "image": "LINK_TO_PHOTO",
        "url": "WEBSITE_URL",
        "telephone": "PHONE_NUMBER",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "",
            "addressRegion": "",
            "postalCode": "",
            "addressCountry": ""
        },
        "parentOrganization": {
            "@type": "Organization",
            "brand": "NAME_OF_PARENT_COMPANY"
        },
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "",
            "contactType": "",
            "email": "",
            "availableLanguage": "",
            "productSupported": ""
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "",
            "longitude": ""
        },
        "areaServed": ""
    }
</script>
